.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.vertical-line {
        border-left: 1px solid white; /* Adjust the color and width as needed */
        height: 200px; /* Adjust the height of the line */
        margin: 0 10px; /* Adjust the margin as needed */
    }

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.icon-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(72px, 1fr)); /* Updated to 3 columns */
  gap: 1rem;
}

@media (max-width: 768px) {
  .icon-grid {
    grid-template-columns: repeat(2, minmax(48px, 1fr));
  }
}


.icon-grid2 {
  display: grid;
  grid-template-columns: repeat(2, minmax(72px, 1fr)); /* Updated to 3 columns */
  gap: 1rem;
}

@media (max-width: 768px) {
  .icon-grid2 {
    grid-template-columns: repeat(2, minmax(48px, 1fr));
  }
}

.icon-grid3 {
  display: grid;
  grid-template-columns: repeat(5, minmax(72px, 1fr)); /* Updated to 3 columns */
  gap: 1rem;
}

@media (max-width: 768px) {
  .icon-grid3 {
    grid-template-columns: repeat(5, minmax(48px, 1fr));
  }
}



.stats-section {
  background-color: #fff;
}

.stat-item {
  border: 1px solid #e5e7eb; 
  /* Tailwind's gray-200 color */
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;
}

.stat-item:hover {
  transform: translateY(-10px);
}

.service {
  transition: transform 0.3s ease;
}


.service:hover {
  
  transform: translateY(-16px);
}

.allproduct {
  transition: transform 0.3s ease;
}


.allproduct:hover {
  
  transform: translateY(-10px);
}

.nav-item {
  transition: transform 0.3s ease;
}


.nav-item:hover {
  
  transform: translateY(-6px);
}



.number {
  transition: color 0.3s ease;
}

.stat-item:hover .number {
  color: gray; 
  /* color: #ea580c;  */
  /* Tailwind's orange-500 color */
}



/* styles.css */
.animated-gradient {
  width:60vw;
  height: 12vh;
   /* Full viewport height */
  background: linear-gradient(270deg, #ff6ec4, #7873f5, #55efc4, #ff6ec4);
  background-size: 600% 600%;
  animation: gradientAnimation 12s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


  /* @keyframes scroll-left-right {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(calc(+5% + -34vw));
  }
  100% {
    transform: translateX(0);
  }
} */

/* Custom scrollbar */
.overflow-x-auto {
  overflow-x: auto; /* Ensure horizontal scrolling is enabled */
  white-space: nowrap; /* Prevent wrapping of content */
}

.overflow-x-auto::-webkit-scrollbar {
  height: 8px; /* Adjust the height of the scrollbar */
}

.overflow-x-auto::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

.overflow-x-auto::-webkit-scrollbar-thumb {
  background: #888; 
}

.overflow-x-auto::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* Animation for container and scrollbar thumb */
.lets-move {
  display: flex;
  animation: scroll-left-right 30s linear infinite;
}

/* Adjust thumb position based on animation */
.lets-move::-webkit-scrollbar-thumb {
  position: absolute;
  left: 50%; /* Adjust position as needed */
  transform: translateX(-50%);
  background: #888; /* Same as original thumb color */
}

/* Hover effect on thumb */
.lets-move::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* Base tooltip styles */
.tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  font-size: small;
  border-radius: 6px;
  padding: 2px 0;
  position: absolute;
  z-index: 1;
  bottom: -10%; /* Position the tooltip above the button */
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

/* Show tooltip on hover */
button:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

/* Adjust tooltip for small screens */
@media screen and (max-width: 600px) {
  .tooltip-text {
    visibility: visible;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  font-size: small;
  border-radius: 6px;
  padding: 2px 0;
  position: absolute;
  z-index: 1;
  bottom: -10%; /* Position the tooltip above the button */
  left: 50%;
  margin-left: -60px;
  opacity: 1;
  }
}
